.box{
    position:relative;
    max-width: 600px;
    padding:50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0.5);
    overflow:hidden;
}


body{
    background-image: url("../images/forest.2.jpg");
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
};

